header {
  background: url(http://trydo.rainbowit.net/assets/images/bg/bg-image-28.jpg);
  /* background: url("../../public/bg-image-29.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
