.about_bg_dark {
  background-image: url("https://tailwindcss.com/_next/static/media/hero-dark@90.dba36cdf.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.about_bg_light {
  background-image: url("https://tailwindcss.com/_next/static/media/hero@75.b2469a49.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
